:root { 
--light_green_200_01:#d4c18e; 
--black_900_7e:#0000007e; 
--white_A700_d1:#ffffffd1; 
--deep_orange_A200:#ec6e39; 
--red_900:#7c1212; 
--light_green_200:#d4c08d; 
--gray_800_02:#383838; 
--gray_800_01:#3e3e3e; 
--light_blue_900:#004e92; 
--green_500:#4caf50; 
--gray_900_a5:#272626a5; 
--pink_300_01:#f37a90; 
--black_900:#000000; 
--black_900_83:#00000083; 
--yellow_900:#ff8c22; 
--gray_400_99:#cdc3c399; 
--blue_gray_900:#353232; 
--pink_300:#cc5b91; 
--deep_orange_A400:#ff3d00; 
--gray_600:#868080; 
--gray_700:#676464; 
--gray_600_01:#848484; 
--blue_gray_100:#d9d9d9; 
--gray_500:#ababab; 
--blue_700:#1976d2; 
--amber_500:#ffc107; 
--gray_800:#3f3e3e; 
--white_A700_a2:#ffffffa2; 
--gray_900:#252525; 
--gray_900_01:#2e2626; 
--orange_700:#ff7a00; 
--gray_900_d1:#160e0ed1; 
--orange_300:#fca560; 
--gray_100:#f5f5f5; 
--orange_100:#ffcc9d; 
--gray_100_01:#f7f7f7; 
--gray_700_02:#6d6868; 
--white_A700:#ffffff; 
--gray_700_01:#635e5e; 
}